html {
    height: 100vh;
}

body {
    min-width: 600px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    /* box-sizing: border-box; */
    /* text-align: left; */
    height: 100vh;
  }

.page-wrapper {
    height: 100vh;    
    display: flex;
    flex-direction: column;
}

ul, 
li,
figure {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: blue;
}

input[type="checkbox"] {
    display: none;
}

.submenu-middle__list {
}

.page-header {
    box-sizing: border-box;
    height: 35px;
    padding: 10px 15px;
    border-bottom: 2px solid #000;
}

.main-nav {

}

.main-nav__list {
    display: flex;
}

.main-nav__item {
    margin-right: 5px;
    border-right: 1px solid black;
    padding-right: 7px;
}

.main-nav__item:last-child {
    margin-right: 0;
    border-right: none;
}

.main-nav__link {
    /* color: blue; */
}



/* page-main */

.page-main {
    display: flex;
    height: 95%;
    flex-grow: 1;
}

/* additional-nav */

.additional-nav {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid red;
    padding: 5px 10px;
}

.submenu-middle__list {
    /* display: none; */
    margin: 10px 0 0 10px;
}

.submenu-low__list {
    /* display: none; */
    margin: 10px 0 0 10px;
}

.submenu-middle__input:checked ~ .submenu-middle__list {
    display: block;
}

.submenu-low__input:checked ~ .submenu-low__list {
    display: block;
}

.topmenu__item {
    margin-bottom: 10px;
}

.topmenu__item:last-child {
    margin-bottom: 0;
}

.submenu-sprite {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(sprites.png) no-repeat;
    background-size: 94px;
    margin-right: 2px;
}

.submenu-middle-sprite-1 {
   background-position: 8% 7%;
}

.submenu-middle-sprite-2 {
    background-position: 50% 7%;
}

.submenu-middle-sprite-3 {
    background-position: 93% 6%;
}

.submenu-middle-sprite-4 {
    background-position: 7% 49%;
}

.submenu-middle-sprite-5 {
    background-position: 50% 49%;
}

.submenu-middle-sprite-6 {
    background-position: 94% 49%;
}

.submenu-middle-sprite-7 {
    background-position: 7% 91%;
}

.submenu-middle-sprite-8 {
    background-position: 50% 94%;
}

.submenu-middle-sprite-9 {
    background-position: 93% 94%;
}

.submenu-middle-sprite-10 {
   background-position: 8% 7%;
}

.submenu-low-sprite {
    background-position: 50% 50%;
}

.submenu-undermost-sprite {
    background-position: 94% 49%;
}

.submenu-middle__label {
    display: flex;
    align-self: center;
    /* border: 1px solid #000; */
}

.submenu-low__label {
    display: flex;
    align-self: center;
}

.submenu-middle__title {
    padding-top: 4px;
}

.submenu-low__title {
    padding-top: 5px;    
}

.submenu-undermost__title {
    padding-top: 5px;
}

.submenu-low__item {
    display: flex;
    align-self: flex-start;
}



/* right-section */
.right-section {
    width: 100%;
    /* min-height: 500px; */
    border: 1px solid #000;
}

.breadcrumbs {
    box-sizing: border-box;
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    position: relative;
    margin-right: 20px;
}

.breadcrumbs__item:not(:last-child):after {
    content: '\203A';
    position: absolute;
    top: -5px;
    right: -13px;
    font-size: 20px;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    color: black;
    text-decoration: none;
}

/* galery */
.gallery {
    overflow-y: auto;
    height: 94%;
    overflow-y: auto;
    /* border: 1px solid #000; */
}

.gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    padding-top: 20px;
    border: 1px solid orange;
    width: 90%;
    margin: 0 auto;
    /* height: 100%; */
}

.gallery__item {
    margin: 20px;
    border: 1px solid #000;
}

.gallery__img {
    width: 250px;
    height: 250px;
}
